.productos-barra{
    width: 100%;
    position: sticky;
    top: 105px;
    z-index: 1;
    border-bottom: 1px solid #e5e7e9;
}

/**PRODUCTOS TODOS**/

.productos-principal{
    display: grid;
    grid-template-columns: 4, 1fr;
    grid-template-rows: 12, 1fr;
    grid-template-areas: 
    "-a -b -c -d"
    "-e -f -g -h"
    "-i -j -k -l"
    "-m -n -o -p"
    "-q -r -s -t"
    "-u -v -w -x"
    "-y -z -aa -ab"
    "-ac -ad -ae -af"
    "-ag -ah -ai -aj"
    "-ak -al -am -an"
    "-ao -ap -aq -ar"
    "-as -at -au -av"
    ;
    gap: 20px;
    justify-content: space-around;
    background-color: #e5e7e9;

    .tachado{
        text-decoration: line-through;
    }
    .sale-text{ 
        background-color: red;
    }

    .productos-grid{

        .card{
            margin: 20px 0;
            &:hover{
                transform: scale(1.02 , 1.02);
                transition: .1s;
            }
            .card-text{
                display: flex;
                justify-content: center;
                font-family: 'Inter', sans-serif;
            }
            .card-texts{
                display: flex;
                justify-content: center;
                font-family: 'Inter', sans-serif;
            }
            .btn{
                background-color: black;
                color: #e5e7e9;
                display: flex;
                justify-content: center;
                &:hover{
                    background-color: #e5e7e9;
                    color: black;
                    border: 1px solid black;
                }
            }
            h5{
                display: flex;
                justify-content: center;
                color: black;
                font-family: 'Alata', sans-serif;
                font-size: 17px;
            }            
        }
    }
}

/**PRODUCTOS GENERALES**/

.productos-secundario{
    display: grid;
    grid-template-columns: 4, 1fr;
    grid-template-rows: 12, 1fr;
    grid-template-areas: 
    "-a -b -c -d"
    "-e -f -g -h"
    "-i -j -k -l"
    ;
    gap: 20px;
    justify-content: space-around;
    background-color: #e5e7e9;

    .tachado{
        text-decoration: line-through;
    }
    .sale-text{ 
        background-color: red;
    }

    .productos-grid{
        .card{
            margin: 20px 0;
            &:hover{
                transform: scale(1.02 , 1.02);
                transition: .1s;
            }
            .card-text{
                display: flex;
                justify-content: center;
                font-family: 'Inter', sans-serif;
            }
            .card-texts{
                display: flex;
                justify-content: center;
                font-family: 'Inter', sans-serif;
            }
            .btn{
                background-color: black;
                color: #e5e7e9;
                display: flex;
                justify-content: center;
                &:hover{
                    background-color: #e5e7e9;
                    color: black;
                    border: 1px solid black;
                }
            }
            h5{
                display: flex;
                justify-content: center;
                color: black;
                font-family: 'Alata', sans-serif;
                font-size: 17px;
            }            
        }
    }
}
